/* JMenu 1.0 RC1 | MIT License | https://github.com/jamesjohnson280/JMenu */

/* unique to this page */ 


.Game1 {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.container a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid rgb(146, 148, 248);
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(146, 148, 248, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

/* Taken from index to make the part of this page that will be explaination text*/

.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 3%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
  }



/* from original personal page "style.css" */

body{
margin: 0;
padding: 0;
background: url(matrix.gif) no-repeat;
background-size: cover;
}

/* From <style> */ 
body {
  font: normal 1.125em/1.5 'Roboto', sans-serif;
}
  
section {
  margin-bottom: 50px;
}
  
.tall {
  display: inline-block;
  width: 100%;
  height: 200px;
  margin-bottom: 100px;
}
  
@media (max-width: 768px) {
  .tall {
    height: 400px;
  }
}



/* Menu bar and fonts */
.jmenu {
  background: #252525; /* Dark gray */
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .5);
  box-sizing: border-box;
  line-height: 1;
}

/* Menu Button */
input.jm-menu-btn {
  display: none; /* Hide the checkbox */
}

/* Menu Items */
.jmenu ul,
.jmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Links */
.jmenu a {
  color: #959595; /* Light gray */
  display: inline-block;
  padding: 16px 32px;
  text-decoration: none;
}

.jmenu a:hover {
  color: #fff; /* White */
}


@media (min-width: 768px) {
  
  /* Menu items */
  .jmenu li {
    display: inline-block;
  }
  
  .jmenu a {
    padding: 16px;
  }
}
