<div class="bg-gray-50 bg-opacity-30 text-black py-6 px-4">
    <div class="flex flex-col items-center space-y-4">
      <h2 class="text-sm text-white">Connect with Me</h2>
      <div class="flex space-x-6">
        <!-- School -->
        <a href="https://pringlelab.github.io/" target="_blank" class="hover:opacity-80">
          <img src="/Assets/Images/Logos/UW_Logo.png" alt="UW Madison" class="w-12 h-12 object-contain">
        </a>
        <!-- LinkedIn -->
        <a href="https://www.linkedin.com/in/jason-raiti" target="_blank" class="hover:opacity-80">
          <img src="/Assets/Images/Logos/LinkedIn_Logo.png" alt="LinkedIn" class="w-12 h-12 object-contain">
        </a>
        <!-- GitHub -->
        <a href="https://github.com/jzraiti" target="_blank" class="hover:opacity-80">
          <img src="/Assets/Images/Logos/GitHub_Logo.png" alt="GitHub" class="w-12 h-12 object-contain">
        </a>
        <!-- Newsletter -->
        <a href="https://mycoweekly.org" target="_blank" class="hover:opacity-80">
          <img src="/Assets/Images/Logos/Newsletter_Logo.png" alt="Newsletter" class="w-12 h-12 object-contain">
        </a>
      </div>
    </div>
  </div>