<section>
    <nav class="jmenu">
      <ul>
        <li><a href="https://jzraiti.github.io/">Home</a></li>
        <li><a href="https://jzraiti.github.io/Games/GamesPage.html">Unity Games</a></li>
        <li><a href="https://jzraiti.github.io/AugmentedReality/AR_Page.html">Augmented Reality</a></li>
        <li><a href="https://jzraiti.github.io/PublishedResearch/PublishedResearch.html">Published Research</a></li> 
        <li><a href="https://jzraiti.github.io/AnnotatedResearch/AnnotatedResearch.html">Annotated Papers</a></li>
      </ul>
    </nav>
</section>